.popup__input {
  width: 100%;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 27px;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 767px) {
  .popup__input {
    font-size: 14px;
    line-height: 17px;
  }
}
