.popup__button {
  width: 100%;
  min-height: 50px;
  background-color: #000;
  color: white;
  font-size: 18px;
  border: 0;
  line-height: 21.78px;
  cursor: pointer;
  padding: 0;
  margin-bottom: 37px;
  border-radius: 2px;
}

.popup__button:hover {
  opacity: .8;
}

@media (max-width: 767px) {
  .popup__button {
    min-height: 46px;
    font-size: 14px;
    line-height: 16.94px;
    margin-bottom: 25px;
  }
}
