.profile__add-button {
  width: 150px;
  height: 50px;
  background-color: black;
  border: 1px solid white;
  background-image: url(../../../images/plus.png);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: auto;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 1023px) {
  .profile__add-button {
    margin: 0;
    min-width: 581px;
  }
}

@media (max-width: 767px) {
  .profile__add-button {
    background-size: 16px 16px;
    margin: 0;
    min-width: 282px;
  }
}

