@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__content/popup__content.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__button/popup__button.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__close/popup__close.css);
@import url(../blocks/popup/__input/_field/popup__input_field_name.css);
@import url(../blocks/popup/__input/_field/popup__input_field_status.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/_position/header_position.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__container/profile__container.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/_position/elements_position.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__box-like-title/element__box-like-title.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__like/_active/element__like_active.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
@import url(../blocks/button-hover/button-hover.css);
