@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);
@import url(../blocks/root/root.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__position/header__position.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/main/main.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__photo/profile__photo.css);
@import url(../blocks/profile/__status/profile__status.css);
@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__position/elements__position.css);
@import url(../blocks/element/element.css);
@import url(../blocks/element/__box/_type/element__box_type_like-title.css);
@import url(../blocks/element/__image/element__image.css);
@import url(../blocks/element/__like/element__like.css);
@import url(../blocks/element/__title/element__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__text/footer__text.css);
