.profile__info {
  color: white;
  min-width: 336px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 18px;
}

@media (max-width: 767px) {
  .profile__info {
  min-width: 282px;
  margin-bottom: 36px;
  column-gap: 10px;
  }
}
